.root {
  max-width: 400px;
  width: 100%;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
  @media (max-width: 430px) {
    padding: 30px;
  }
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto 30px;
  position: relative;
  svg[id='add-icon'],
  svg[id='remove-icon'] {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.error {
  font-size: 14px;
  color: red;
  margin: 10px 0 0 0;
  text-align: center;
}
