.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 250px;
  max-height: 35px;
  background-color: black;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;
  text-align: center;
  &:hover {
    background-color: #4361ee;
  }
}

.logoText {
  display: block;
  white-space: nowrap; /* Текст не переносится */
  overflow: hidden; /* Обрезаем всё за пределами блока */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

.buttons {
  flex: 1 1 auto;
  display: flex;
  justify-content: end;
  button {
    margin-left: 10px;
  }
}

.iconBtn {
  padding: 5px !important;
}
