.list {
  li[role='separator']:last-of-type {
    display: none;
  }
}

.listItem {
  @media (max-width: 390px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.skeletonWrapper {
  display: flex;
  flex-direction: column;
}

.skeletonCommentText {
  height: 18px;
  width: 230px;
  @media (max-width: 1130px) {
    width: 180px;
  }
}

.userWrapper {
  display: flex;
  align-items: center;
}

.btnsContainer {
  position: absolute;
  right: 0;
  @media (max-width: 390px) {
    display: flex;
    flex-direction: column;
    right: -5px;
  }
}

.editButton,
.removeButton {
  padding: 2px 6px;
  border: none;
  cursor: pointer;
  background: 0 0;
  transition: 0.2s ease-in;
  svg {
    width: 20px;
    height: 20px;
  }
  @media (min-width: 992px) {
    &:hover {
      transform: scale(1.2);
      svg {
        fill: blue;
      }
    }
  }
}

.removeButton {
  @media (min-width: 992px) {
    &:hover {
      svg {
        fill: red;
      }
    }
  }
  @media (max-width: 390px) {
    margin: 7px 0px 0px 0px;
  }
}

.text {
  margin: 0;
  padding: 8px 0;
  color: rgb(95, 95, 95);
}
